# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
a = 10
b = 10

print(f"a == b: {a == b}")
print(f"a is b: {a is b}")

a == b: True
a is b: True

обидва true, що нам дає інформаію, про те, що вони займають одну комірку памʼяті

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [3]:
type(True)

bool

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [15]:
a=2
b=2.5
print('Віднімання:',b-a)
print('Додавання:',a/b)
print('Множення:',a*b)
print('Ділення без залишку',b//a)
print('Піднесення до степеня',b**a)
print('Ділення по модулю',b%a)

Віднімання: 0.5
Додавання: 0.8
Множення: 5.0
Ділення без залишку 1.0
Піднесення до степеня 6.25
Ділення по модулю 0.5

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [24]:
int(b) #тут я нагадав, що коментарі буде так зручніше лишати. змінюємо тип
k=int(b)
l=b
print(type(k),type(l))
print(type(int(l))) #виводжу тип змінної, що була присвоєна b (bool) і перетврюю її на int

<class 'int'> <class 'float'>
<class 'int'>

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [33]:
st1=''
st2="" #різні лапки
st3=str()
print(type(st1),type(st2),type(st3))

<class 'str'> <class 'str'> <class 'str'>

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [51]:
string_with_apostrophe = "Це рядок з апострофом(')."
raw_string = r"Це рядок з апострофом(')." #не зрозумів як на цьому прикладі показати роль апострофа, тому використаю /

string_with_slach='рядок\nзі слешем\n'
raw_string=r'рядок\nзі слешем\n'

print(string_with_slach,raw_string)

рядок
зі слешем
 рядок\nзі слешем\n

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [53]:
surname="Yaruchyk"
formatted_string = f"My surname is {surname}"
print(formatted_string)

My surname is Yaruchyk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [57]:
string= "My dog is crazy."
print(string.split()) #використосвуємо split()

['My', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [60]:
l1=[]
l2=list()
print(type(l1),type(l2))

<class 'list'> <class 'list'>

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [69]:
l1=[1,2,3]
l2=[4,5,6]
l1.append(l2)
print(l1)

[1, 2, 3, [4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [79]:
l1=[[1],[2],[3,4,5]]
print(l1[2][0]) #числення з нуля, тому беремо 2 (де-факто 3) елемент з початкового списку і потім 1 з внутрішнього

3

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [88]:
l=[]
for i in range(10):
  k=[i]
  l.append(k)
print(l)
l[1:-2]

[[0], [1], [2], [3], [4], [5], [6], [7], [8], [9]]

[[1], [2], [3], [4], [5], [6], [7]]

In [90]:
#інший варіант виконання, ручний ,бо в умові вказано про список з різними "типами"
list_with_mixed_types = [1, "two", 3.0, True, (5), [6], {"seven": 7},(8+1i),] #але потім зрозумів, що їх 10 немає, хіб дуже специфічні, які задаються функціями

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [93]:
tupl = ("one")
print(type(tuple))

<class 'type'>

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

# Схожість:

І списки, і кортежі - це послідовності даних в Python.
І списки, і кортежі можуть містити елементи будь-якого типу даних.
І списки, і кортежі можна використовувати для зберігання та доступу до даних.


# Відмінності:

**Змінність:**

Списки: Змінні, тобто їх можна змінювати після створення.

Кортежі: Незмінні, тобто їх не можна змінювати після створення.

**Індексування:**

Списки: Дозволяють індексувати та отримувати доступ до елементів за допомогою квадратних дужок.

Кортежі: Також дозволяють індексувати та отримувати доступ до елементів за допомогою квадратних дужок.

**Методи:**

Списки: Мають багато методів для додавання, видалення та сортування елементів.

Кортежі: Мають обмежену кількість методів.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [95]:
tuple_of11_floats = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
reversed_even_elements = tuple(tuple_of11_floats[i] for i in range(len(tuple_of11_floats)-1, -1, -2))
#цикл для i
#від довжини забираємо 1, бо для функції рендж буде забагто цифр
#оскільки йдемо з кінця через 2 елементи, то додаємо для range відповідні параметри

print(reversed_even_elements)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [100]:
empty_set = set()

print(type(empty_set))

empty_set.add("one")
empty_set.add(2)
empty_set.add(True)

print(empty_set)

<class 'set'>
{'one', 2, True}

**Множини** - це змінні типи даних. Ви можете додавати, видаляти та змінювати елементи множини після її створення.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [101]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)

print(my_set) #зникли 1 та 67

{1, 2, 67, 8, 9}

Множини **не можуть містити дублікатів**. При створенні множини з списку my_list всі **дублікати видаляються**

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [102]:
set1 = {1, 2, 3, "a"}
set2 = {2, 3, 4, "b"}

union_set = set1.union(set2)
print(union_set)  # обєднання

difference_set = set1.difference(set2)
print(difference_set)  # різниця

intersection_set = set1.intersection(set2)
print(intersection_set)  #інтерсекця або перетин

symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)  # симетрична різниця

{1, 2, 3, 'a', 4, 'b'}
{1, 'a'}
{2, 3}
{1, 'a', 4, 'b'}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [104]:
empty_dict = {}

print(type(empty_dict))

empty_dict["name"] = "Danylo"
empty_dict[1] = 30
empty_dict[True] = "True value"
empty_dict["list"] = [1, 2, 3]

print(empty_dict)  # Виводить {'name': 'John Doe', 1: 30, True: 'True value', 'list': [1, 2, 3]}

<class 'dict'>
{'name': 'Danylo', 1: 'True value', 'list': [1, 2, 3]}

Так, список може бути ключем (4 елемент). Бо будь-який тип даних може бути ключем до словника.

Крім того, якщо дивитись у перспективу, то як на мене список - це найлогічніший із можливих ключів, бо може включати основні компоненти користувача (наприклад логін, пароль)

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [108]:
outer_dict = {
    "key1": "value1",
    "key2": {
        "inner_key1": "inner value",
        "inner_key2": {
            "deepest_key": "deepest value"
        }
    }
}

deepest_value = outer_dict["key2"]["inner_key2"]["deepest_key"]
print(deepest_value)

deepest value

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.